@import "~normalize.css";
@import "_variables";
@import "modules/hello.scss";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap');

body {
  background: $mygray;
  font-family: 'Nunito Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.header {
font-size: 30px;
font-weight: 300;

}

.input {
width: 50vh;
height: 25vh;
}
